- hosts: 127.0.0.1

  vars_files:
    - ~/.config/ansible/vars.yml

  tasks:
    - include_tasks: tasks/coprs.yml

    - include_tasks: tasks/framework.yml

    - include_tasks: tasks/fonts.yml

    - include_tasks: tasks/dev.yml

    - include_tasks: tasks/vscode.yml

    - include_tasks: tasks/multimedia.yml

    - include_tasks: tasks/zoom.yml

    - include_tasks: tasks/bash.yml

    - include_tasks: tasks/git.yml

    - include_tasks: tasks/ssh.yml

    - include_tasks: tasks/misc.yml

    - include_tasks: tasks/conda.yml